/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');


/* common css start */
body {
    margin: 0;
}
p, span, li, a {
    font-family: Poppins, sans-serif;
}
h1, h2, h3, h4 {
    font-family: Poppins, sans-serif;
}
/* common css end */


/* main css start  */
.container {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.hero-section {
    background-color: black;
    margin: 35px 0;
    padding: 20px 50px 0;
    display: flex;
    align-items: center;
    border-radius: 40px;
}
.half-width {
    width: 50%;
}
.half-width h1{
    color: white;
    font-size: 65px;
    line-height: 1.2em;
    margin: 25px 0px;
}
.half-width p {
    color: white;
    line-height: 1.7em;
    font-size: 17px;
}
.half-width a{
    display: inline-block;
    color: white;
    background-color: orangered;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}
.half-width a i{
    color: white; 
    font-size: 17px;  
}
.half-width img {
    width: 100%;
}

/* menu with post area   */

.menu-with-post-area{
    display: flex;
}
.menu-area{
   width: 350px;
}
.menu-items {
    background-color: black; 
    padding: 10px 25px;
    border-radius: 10px;

}
.menu-items a{
    color: black;
    background-color: white;
    padding: 20px 25px;
    text-decoration: none;
    display: block;
    margin: 20px 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.menu-items .active{
    background-color: orangered;
    color: white;
}
.post-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    gap: 20px;
}

.col-3-post{
    box-shadow: 0px 2px 5px #dddddd;
    border-radius: 10px;
}
.col-3-post img {
    width: 100%;
}
.post-archiv-text {
    padding: 20px 15px;
}
.post-archiv-text a {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
}

.post-meta-box span{
    padding-right: 20px;
}
.post-meta-box span i {
    padding-right: 4px;
}


/* footer css */

footer{
    background-color: black;
}
.footer-Goal h2 {
    color: white;
    text-align: center;
    font-size: 33px;
    padding: 150px 0 30px;
}

.footer-menu {
    padding: 30px 0 120px;
    text-align: center;
}
hr{
    width: 80%;
    margin: auto;
    color: #dddddd;
}
.footer-menu a{
    color: gainsboro;
    text-decoration: none;
    display: inline-block;
    padding: 7px 20px;
}