/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');


/* common css start */
body {
    margin: 0;
}
p, span, li, a {
    font-family: Poppins, sans-serif;
}
h1, h2, h3, h4 {
    font-family: Poppins, sans-serif;
}
/* common css end */


/* main css start  */
.container {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.hero-section {
    background-color: black;
    margin: 35px 0;
    padding: 20px 50px 0;
    display: flex;
    align-items: center;
    border-radius: 40px;
}
.half-width {
    width: 50%;
}
.half-width h1{
    color: white;
    font-size: 65px;
    line-height: 1.2em;
    margin: 25px 0px;
}
.half-width p {
    color: white;
    line-height: 1.7em;
    font-size: 17px;
}
.mobil-text {
    display: none;
}
.half-width a{
    display: inline-block;
    color: white;
    background-color: orangered;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}
.half-width a i{
    color: white; 
    font-size: 17px;
    padding-left: 8px;
}
.half-width img {
    width: 100%; 
    animation-name: alamin;
    animation-duration: 4s;
    animation-timing-function: linear;
    position: relative;
}
@keyframes alamin {
    0%   {right:-400px;}
    50%  {right:3%; }
    100% {right:6%; }
  }
    



/* menu with post area   */

.menu-with-post-area{
    display: flex;
}
.menu-area{
   width: 350px;
}
.menu-items {
    background-color: black; 
    padding: 10px 25px;
    border-radius: 10px;

}
.menu-items a{
    color: black;
    background-color: white;
    padding: 20px 25px;
    text-decoration: none;
    display: block;
    margin: 20px 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.menu-items .active{
    background-color: orangered;
    color: white;
}
.post-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    gap: 20px;
    align-items: center;

}
.col-3-post{
    box-shadow: 0px 2px 5px #dddddd;
    border-radius: 10px;
}
.col-3-post img {
    width: 100%;
}
.post-archiv-text {
    padding: 20px 15px;
}
.post-archiv-text a {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
}

.post-meta-box span{
    padding-right: 20px;
}
.post-meta-box span i {
    padding-right: 4px;
}
.view-all{
    display: none;
}

/* Upcoming Match css */
.upcoming-match {
    padding: 80px 0;
}
.match-date {
    padding: 40px 25px;

}
.a-vs-r-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-vs-r-img img{
    padding: 5px 15px;
    width: 40%;
}
.match-date h4,
.match-date p {
    text-align: center;
    margin: 10px 0;
}
.match-date h4 {
    font-size: 20px;
}
.match-date p {
    font-size: 14px;
    color: #686868;
}



/* footer css */

footer{
    background-color: black;
}
.footer-Goal h2 {
    color: white;
    text-align: center;
    font-size: 33px;
    padding: 150px 0 30px;
}

.footer-menu {
    padding: 30px 0 10px;
    text-align: center;
}
hr{
    width: 80%;
    margin: auto;
    color: #dddddd;
}
.footer-menu a {
    color: gainsboro;
    text-decoration: none;
    display: inline-block;
    padding: 7px 20px;
}
.social-media {
    text-align: center;
    padding-bottom: 100px;
}
.social-media a {
    font-size: 35px;
    padding: 0 7px;
}
.fa-facebook-square {
    color: #4267B2;
}
.fa-linkedin {
    color: #0072b1;
}
.fa-twitter-square {
    color: #00acee;
}

/* main css end  */

/* Responsive css start */
/* Css for tablet devices */

@media screen and (min-width: 767px) and (max-width: 992px) {
    .container {
        width: 96%;
    }
    .half-width h1{
        font-size: 35px;
        line-height: 1.2em;
    }
    .menu-with-post-area {
        flex-direction: column;
    }
    .menu-area{
        width: 100% !important;
        text-align: center;
     }
    .menu-items {
        background: none !important;
    }
    .menu-items a {
        display: inline-block !important;
        border: 1px solid #404040;
        margin: 25px 15px;
    }
    .post-area {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0px;
    
    }
    .view-all {
        display: block;
        text-align: center;
        padding: 8px 18px;
        background-color: orangered;
        border-radius: 5px;
        color: white;
    }
}

/* Css for mobile devices */

@media screen and (max-width: 766px) {
    .container {
        width: 95% !important;
    }
    .half-width h1{
        font-size: 35px;
        line-height: 1.2em;
        text-align: center;
    }
    .half-width p {
        text-align: center;
    }
    .text-laptop-tab {
        display: none;
    }
    .mobil-text {
        display: block;
        font-size: 17px;
    }
    .half-width a {
        display: block;
        text-align: center;
    }

    .hero-section {
        flex-direction: column;
        margin: 15px 0;
        padding: 0 20px;
    }
    .half-width {
        width: 100% !important;
        padding-top: 30px;
    }

    .menu-with-post-area {
        flex-direction: column;
    }
    .menu-area{
        width: 100% !important;
     }

    .menu-items {
        background: none !important;
    }
    .menu-items a {
        border: 1px solid #c6c6c6;
        margin: 20px 15px;
    }
    .post-area {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    
    }
    .footer-Goal h2 {
        font-size: 30px;
        padding: 30px 0 15px;
    }
    .footer-menu a {
        display: block;
        padding: 12px 0px;
    }
}
